#info {
    float: left;
}

#name {
   background-color: #4aaaa5;
   color: aliceblue;
   float: left;

}

.but {
    float: right;
}


.myImage {
    width: 19%;
    height: 20%;
}

#para {
    float: left;
}

.mainContent {
    width: 960px;
    clear: both;
}